<body>
	<div id='all_questions'>
		<p id='ui_title'>All Questions</p>
			<% @questions.each do |question| %>
				<div class='ind_ques'>
					<div class="ind_ques_contents">
						<li><%= link_to "#{question.title}", question_path(question.id) %></li>
						<li><%= question.content %></li>
						<li> <img class='ui_avatar_question' src='<%= question.creator.avatar %>'/> </li>
						<li><%= link_to "#{question.creator.name}", user_path(question.creator_id) %></li>
					</div>
				</div>
			<% end %>

			<% if false %>
			<li><%= link_to 'sign up', signup_path %></li>
			<li><%= link_to 'login', login_path %></li>
			<% end %>
	<div>
</body>

