<div>
  <h1><%= @question.title %></h1>
  <%= @question.content %>
  <% @question.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
  <%= link_to 'Comment', new_comment_path(@question.id) %>

  <div class='user'>
    <%= image_tag @question.creator.avatar, class: 'avy' %>
    <%= link_to @question.creator.name, @question.creator %>
  </div>

  <% @question.answers.each do |answer| %>
    <div class='answer'>
      <%= answer.content %>
      <div class='user'>
        <%= image_tag answer.user.avatar, class: 'avy' %>
        <%= link_to answer.user.name, @question.creator %>
      </div>
    </div>

   <% if session[:user_id] == answer.user_id %>
      <%= link_to "Delete my answer", answer, method: :delete, data: {confirm: "Are you sure?"} %>
      <%= link_to "Edit my answer",edit_answer_path %>
      <% end %>

  <% end %>

  <% if session[:user_id] == @question.creator_id %>
  <%= link_to "Delete my question", @question, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

  <%= form_for Answer.new do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.submit %>
  <%- end -%>
</div>