<p id='qs_title'><%= @question.title %></h1>


<div class='user_section'>
  <p id='qs_content'><%= @question.content %></p>

  <div id='comments'>
    <% if @question.comments.any? %>
      <% @question.comments.each do |comment| %>
        <li id='com'><%=comment.content %></li>
      <% end %>
    <% end %>
  <!-- Pass parameter of the question id as the commentable_id
       and the class of question as commentable_type -->
  <%= link_to 'Add a Comment', new_comment_path(commentable_id: @question.id, commentable_type: @question.class), class: 'add_com'  %>
  </div>

  <div id='qu_box' >
    <%= image_tag @question.creator.avatar, class: 'avy' %>
    <%= link_to @question.creator.name, @question.creator, :id => 'qu_name' %>
  </div>

    <%= render "votes/vote" %>

  <div id='answer_amount'>
      <%=@question.answers.count %> Answers
  </div>
  <% @question.answers.each do |answer| %>
    <div class='ind_question'>
      <%= answer.content %>
      <%= render partial: "votes/votes_answers", locals: { answer_id: answer.id } %>
      <div class='user'>
        <%= image_tag answer.user.avatar, class: 'avy' %>
        <%= link_to answer.user.name, @question.creator, :id => 'qu_name' %>
      </div>
    </div>

   <% if session[:user_id] == answer.user_id %>
      <%= link_to "Delete my answer", answer, method: :delete, data: {confirm: "Are you sure?"}, id: 'delete' %>
      <%= link_to "Edit my answer",edit_answer_path(answer), id: 'edit' %>
      <% end %>

   <% answer.comments.each do |comment| %>
      <%= comment.content %>
   <% end %>

   <%= link_to 'Comment', new_comment_path(commentable_id: answer.id, commentable_type: answer.class) %>
  <% end %>

  <% if session[:user_id] == @question.creator_id %>
  <%= link_to "Delete my question", @question, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

  <% if session[:user_id] %>
  <div id='answer_submit'>
  <%= form_for Answer.new do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.submit %>
  <%- end -%>
  <% end %>
  </div>
</div>
