<div>
  <h1><%= @question.title %></h1>
  <%= @question.content %>

  <div class='user'>
    <%= image_tag @question.creator.avatar, class: 'avy' %>
    <%= link_to @question.creator.name, @question.creator %>
  </div>

  <% @question.answers.each do |answer| %>
    <div class='answer'>
      <%= answer.content %>
      <div class='user'>
        <%= image_tag answer.user.avatar, class: 'avy' %>
        <%= link_to answer.user.name, @question.creator %>
      </div>
    </div>
  <% end %>

  <%= form_for Answer.new do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.submit %>
  <%- end -%>
</div>