<p id='us_name'><%= @user.name %></p>
<div class="user_show">
	<ul>
	  <li><%= image_tag @user.avatar, :id => 'us_avatar' %></li>
	  <li class='user_info'><%= @user.age %></li>
	  <li class='user_info'><%= @user.location %></li>
	</ul>
</div>
<p class='us_title'>Questions</p>
<div class="user_show">
	<% @user.questions.each do |question| %>
	<ul>
	  <li><%= question.title %></li>
	  <li><%= question.content %></li>
	</ul>
	<%end%>
</div>

<p class='us_title'>Answers</p>
<div class="user_show">
	<% @user.answers.each do |answer| %>
	<ul>
	  <li><%= answer.content %></li>
	</ul>
	<%end%>
</div>


