<ul>
  <li><%= image_tag @user.avatar %></li>
  <li><%= @user.name %></li>
  <li><%= @user.age %></li>
  <li><%= @user.location %></li>
</ul>

<% @user.questions.each do |question| %>
<ul>
  <li><%= question.title %></li>
  <li><%= question.content %></li>
</ul>
<%end%>

<% @user.answers.each do |answer| %>
<ul>
  <li><%= answer.content %></li>
</ul>
<%end%>


