<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<img id='exchange' src="/assets/stack_exchange.png">
	<div id='banner'>
		<ul id='top'>
			<% if session[:user_id] %>
				<li class='top_header'> <%= link_to current_user.name, user_path(current_user), :class=> 'top_link'  %></li>
				<li class='top_header'><%= link_to 'logout', logout_users_path, :class=> 'top_link' %></a></li>
			<% else %>
				<li class='top_header'> <%=link_to 'sign up', new_user_path, :class=> 'top_link'%></li>
				<li class='top_header'> <%= link_to 'login', login_users_path, :class=> 'top_link' %></li>

			<%end%>
			<li class='top_header'>tour</li>
			<li class='top_header'>help</li>
			<li class='top_header'>stack overflow careers</li>
			<form id="navbar-search" action="/search" method="GET">
	            <input id="search_bar"  class="search-query span4" placeholder="Search" name="search">
		    </form>
		</ul>
	</div>

	<div id='under_head'>
		<ul id='bottom'>
			<li class='bottom_header'><%= link_to 'Questions', questions_path, :class => 'bottom_link'%></li>
			<li class='bottom_header'>Tags</li>
			<li class='bottom_header'><%= link_to 'Users', users_path, :class => 'bottom_link'%></li>
			<li class='bottom_header'>Badges</li>
			<li class='bottom_header'>Unanswered</li>

			<li class='bottom_header'><%= link_to 'Ask a Question', new_question_path, :class => 'bottom_link'%></li>
		</ul>
	</div>
	<%= link_to image_tag("stackoverflow_logo.jpg", :id=>'logo'), controller: 'welcome' %>
</header>

<footer>
	<ul id='foot'>
		<li class="foot_link">tour</li>
		<li class="foot_link">help</li>
		<li class="foot_link">blog</li>
		<li class="foot_link">chat</li>
		<li class="foot_link">data</li>
		<li class="foot_link">legal</li>
		<li class="foot_link">privacy policy</li>
		<li class="foot_link">work here</li>
		<li class="foot_link">advertising info</li>
		<li class="foot_link">mobile</li>
		<li class="foot_link"><b>contact us</b></li>
		<li class="foot_link"><b>feedback</b></li>
	</ul>
</footer>

<%= yield %>
</body>
</html>
